body {
  font-family: sans-serif;
}

.img-responsive{
  width: 100%;
  max-width: 100px;
  height: auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
